<ion-header>
    <ion-toolbar>
        <ion-title>
            Películas y series
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="search()">
        <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input type="text" formControlName="title"> </ion-input>
        </ion-item>

        <ion-radio-group (ionChange)="radioGroupChange($event)">
            <div>
                <ion-radio slot="start" value="Pelicula" checked></ion-radio>
                <ion-icon name="videocam"></ion-icon>
            </div>
            <div>
                <ion-radio slot="start" value="Serie"></ion-radio>
                <ion-icon name="tv"></ion-icon>
            </div>
        </ion-radio-group>

        <ion-button color="primary" type="submit" [disabled]="!form.valid">Search</ion-button>
    </form>

    <div *ngIf="isSearched">
        <p>{{(item | json)}}</p>
    </div>
    
</ion-content>